<%- include('../../fragment/header.ejs') %>

<main>
    <h2>Gun Sellers</h2>
   <p>No gun sellers to display</p> 
   <p><a href = "form.ejs" class="button-add">Add new gun seller</a></p>
</main>

<%- include('../../fragment/footer.ejs') %>