<%- include('../../fragment/header.ejs') %>

<main>
    <h2>Appointments</h2>
   <p>No appointments to display</p> 
   <p><a href = "form.ejs" class="button-add">Add new appointment</a></p>
</main>

<%- include('../../fragment/footer.ejs') %>