<%- include('../../fragment/header.ejs') %>

<main>
    <h2>Customers</h2>
   <p>No customers to display</p> 
   <p><a href = "form.ejs" class="button-add">Add new customer</a></p>
</main>

<%- include('../../fragment/footer.ejs') %>