<%- include('../../fragment/header.ejs') %>
<main>
    <h2>New customer</h2>
    <form class="form">
        <label for="firstName">Name: <span class="symbol-required">*</span></label> 
        <input type="text" name="firstName" id="firstName" class="error-input" required>
        <span id="errorFirstName" class="errors-text">Field is required</span>
        
        <label for="lastName">LastName: <span class="symbol-required">*</span></label>
        <input type="text" name="lastName" id="lastName" class="error-input" required>
        <span id="errorlastName" class="errors-text">Field is required</span>

        <label for="nickName">NickName: </label>
        <input type="text" name="nickName" id="nickName" class="error-input">
        <span id="errornickName" class="errors-text">Nickname already exists</span>

        <label for="phoneNumber">PhoneNumber: <span class="symbol-required">*</span></label>
        <input type ="text" name="phoneNumber" id="phoneNumber" class="error-input" required >
        <span id="errorPhoneNumber" class="errors-text">Field is required</span>
        <div class="form-buttons">
            <p id="errorsSumary" class="errors-text">Form contains errors</p>
            <input type="submit" value="Add" class="form-button-submit">
            <a href ="list.ejs" class="form-button-cancel">Cancel</a>
        </div>
    </form>

</main>

<%- include('../../fragment/footer.ejs') %>